name: Run

on:
  pull_request:
    paths:
      - 'app/**'

jobs:
  setup:
    name: Setup

    runs-on: ubuntu-latest

    steps:
      - name: Echo
        run: echo "OK"
        
      - name: Echo2
        run: echo "NG"

      - name: Echo3
        run: echo "O"
